.header__container {
  padding: 0 20px;
  min-width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 71px;
  }
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  display: none;
}
.body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-main);
  background-color: var(--bg-color);
}
