.header__container {
  padding: 0 20px;
  min-width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 71px;
  }
}

.visually-hidden {
  display: none;
  // position: absolute;
  // width: 1px;
  // height: 1px;
  // margin: -1px;
  // padding: 0;
  // overflow: hidden;
  // border: 0;
  // clip: rect(0 0 0 0);
}
.body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-main);
  background-color: var(--bg-color);
}
