@import "./variables";

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: $mob) {
        width: 420px;
    }
    @media screen and (min-width: $tab) {
        width: 768px;
        padding: 0 32px;
      }
    @media screen and (min-width: $desc) {
        width: 1024px;
    }
}