@import "./variables";
/* light-theme.css */
.body{
    color:var(--text-color-main) ;
    background-color: var(--bg-color);
    
}

/* dark-theme.css */

.body.dark-theme{
    color:red ;
    background-color: #2b002b ;
    
}

.theme{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background-color: transparent;
  position: absolute;
  top: 0;
    right: 0;
    margin-right: 71px;
    margin-top: 90px;
    z-index: 1;

    @media screen and (max-width: 420px) {
        margin-right: 32px;
    }

    @media screen and (max-width: $mob) {
        margin-right: 20px;
        margin-top: 90px;
    }
}

.theme-text{
  font-size: 10px;
  color: var(--bg-color);
}

.switch {
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: transparent
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px transparent;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }