@import './variables';

.gallery {
  padding-top: 60px;
  @media screen and (min-width: $mob) {
    margin-right: 0;
  }
  @media screen and (min-width: $tab) {
    margin-right: -32px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desc) {
    margin-right: -32px;
  }
}

.movie-card {
  background: var(--bg-color);
  border-radius: 5px;
  
  @media screen and (max-width: 767px) {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width: 419px) {
    margin-bottom: 20px;
  }
  cursor: pointer;
  @media screen and (min-width: $mob) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tab) {
    margin-right: 32px;
    margin-bottom: 32px;
    width: 336px;
  }
  @media screen and (min-width: $desc) {
    width: 309px;
    margin-right: 16px;
  }
}

.movie-data {
  margin-top: 8px;
  padding-left: 5px;
}

.movie-info {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.movie-name {
  color: #000000;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.movie-card img{
  object-fit: cover;
  @media screen and (min-width: $mob) {
    width: 280px;
    height: 398px;
  }
  @media screen and (min-width: $tab) {
    width: 346px;
    height: 445px;
  }
  @media screen and (min-width: $desc) {
    width: 309px;
    height: 449px;
  }
}