@import './variables.scss';
// @import 'swiper/css';

.backdrop {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media screen and (min-width: $tab) {
        width: 768px;
    }
}

.modal-footer__name {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.5;
}

.modal-footer__link {
    padding: 10px;
    text-align: center;
}

a {
    color: #fff;
    direction: none;
}

img {
    

    @media screen and (min-width: $tab) {
        display: flex;
        width: 300px;
        height: 350px;
    }
}

.modal-footer__image {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 30px auto;
}
.modal-footer__image li {
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    min-width: 0;
}
/* Заголовок, текст и ссылка */
// .modal-footer-social__item li h3{
//     color: #fff;
//     margin: 5px;
// }
.modal-footer__image li p{
    color: #fff;
    margin: 5px;
}

.modal-footer__image li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-footer__image li:hover > div {
    // background-image: url(../images/modal-footer/pngwing1.com.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.modal-footer__image li div {
    opacity: 0;
    background-color: rgba(134, 132, 132, 0.35);
}
.modal-footer__image li img {
    transition: all 0.3s linear;
}
.modal-footer__image li:hover img {
    transform: scale(1.5);
    
}
.modal-footer__image li:hover div {
    opacity: 1;
}

body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .footer-team-link {
    transform: scale(1);
}


.wrapper {
  width: 600px;
  height: 300px;
}


