@import './variables.scss';
@import url('../../node_modules/swiper/swiper-bundle.css');


.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 57%;
  transform: scale(1);
  transition: color 250ms linear,
  bordtr 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: $tab) {
  top: 59%;
}

@media screen and (min-width: $desc) {
  width: 50%;
}
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: scale(0.5);
  transition: opacity 400ms,
  visibility 400ms;
}

body.show-modal .footer-team-link {
  transform: scale(1);
}

.swiper {
  width: 50%;
  height: 450px;

@media screen and (min-width: $tab) {
  width: 75%;
}

@media screen and (min-width: $desc) {
  width: 100%;
  bottom: 220px;
}
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
  background-image: url(../images/фильм-min.jpg);
  background-size: contain;

@media screen and (min-width: $tab) {
  width: 100%;
}

@media screen and (min-width: $desc) {
  width: 100%;
}
}

.swiper-slide img {
  display: block;
  width: 350px;
  height: 363px;
  object-fit: cover;
  @media screen and (min-width: $tab) {
  width: 300px;
  height: 330px;
}
  @media screen and (min-width: $desc) {
  width: 290px;
  height: 311px;
}
}

.modal-info{
  width: 420px;
  height: 30px;
  position: absolute;
  top : 380px;
  text-align: center;
  background-color: blue;
}

.modal-info__name {
  margin-top: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
} 

.swiper-slide__hover:hover {
  border-radius: 50%;
}

.swiper-wrapper {
  background-color: transparent;
}

.modal-footer__close {
top: 0;
left: 0;
}

.modal-footer__close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 4;
  &:hover,
  &:focus {
    background: blue;
  }
  @media screen and (min-width: $tab) {
  top: 5px;
  right: 105px;
}
  @media screen and (min-width: $desc) {
  top: -215px;
  right: 5px;
}
}


//////////////////////social media//////////////////////////////

.swiper-social{
  position: absolute;
  right: 50px;
}

.swiper-social__network {
  display: block;
  top: -100px;
  left: 50px;
  position: relative;
  
  @media screen and(min-width: $desc) {
  justify-content: center;
  display: flex;
}
}

.swiper-social__block {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.swiper-social__link {
display: flex;
align-items: center;
justify-content: center;
height: 44px;
width: 44px;
border-radius: 50%;
fill: blue;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
background-color: black;
fill: var(--text-color-header);
outline: none;
}
}

.swiper-social__svg {
width: 20px;
height: 20px;
--brand-color: currentColor;
}






