@import './variables.scss';
@import url('../../node_modules/swiper/swiper-bundle.css');


.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 57%;
  transform: scale(1);
  transition: transform 400ms;

@media screen and (min-width: $tab) {
  top: 59%;
}

@media screen and (min-width: $desc) {
  bottom: 0;
}
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: scale(0.5);
  transition: opacity 400ms,
  visibility 400ms;
}

body.show-modal .footer-team-link {
  transform: scale(1);
}

.swiper {
  width: 100%;
  height: 450px;

@media screen and (min-width: $tab) {
  width: 100%;
}

@media screen and (min-width: $desc) {
  width: 100%;
  bottom: 145px;
}
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(236, 151, 82, 0.8);
}

.swiper-slide img {
  display: block;
  width: 320px;
  height: 280px;
  object-fit: cover;
}

.modal-info {
  position: relative;
  text-align: center;
}

.modal-info__name {
  position: absolute;
  width: 320px;
  height: 30px;
  top: 110px;
  left: -320px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  transition: color 250ms linear,
  bordtr 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide__hover:hover {
  border-radius: 50%;
}

.swiper-wrapper {
  background-color: var(--text-color-caption);
}







