.backdrop-film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.film-card {
  background-color: var(--bg-color);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  width: 280px;
  padding: 48px 20px 40px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: $tab) {
    display: flex;
    width: 704px;
    min-height: 552px;
    text-align: left;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width: $desc) {
    display: flex;

    min-height: 558px;
    text-align: left;
    padding: 40px 16px 40px 16px;
  }
}
.film-img {
  background-color: burlywood;
  border-radius: 5px;
  @media screen and (max-width: 419px) {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $mob) {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tab) {
    width: 264px;
    height: 374px;
  }
  @media screen and (min-width: $desc) {
    width: 100%;
    height: 100%;
  }
}

.film-list {
  @media screen and (max-width: 419px) and (min-width: $mob) {
    display: block;
  }
  @media screen and (min-width: $tab) {
    display: block;
    width: 264px;
    margin-left: 68px;
  }
  @media screen and (min-width: $desc) {
    display: block;
    width: 391px;
    margin-left: 16px;
  }
}
.film-info {
  margin-bottom: 20px;
}

.film-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color-main);
  margin-bottom: 20px;
  @media screen and (min-width: $desc) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.box-film {
  width: 36px;
  height: 14px;
  color: var(--text-color-header);
  background: #ff6b01;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.box-film-vote {
  width: 28px;
  height: 14px;
  display: flex;
  justify-content: center;
}
.vote-film {
  display: flex;
}
.film-text {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: baseline;
}
.film-text__left {
  width: 105px;
  color: #8c8c8c;
  @media screen and (min-width: $desc) {
    width: 100px;
  }
}

.film-text__right {
  color: var(--text-color-main);
  width: 120px;
  @media screen and (min-width: $tab) {
    width: 200px;
  }
  @media screen and (min-width: $desc) {
    width: 200px;
  }
}
.film-info__item {
  margin-bottom: 20px;
}
.film-about {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color-main);
  @media screen and (max-width: $desc) {
    overflow-y: scroll;
  }
   
    
}
.btn-add {
  display: flex;
  bottom: 0px;
  justify-content: space-between;
  @media screen and (min-width: $desc) {
    justify-content: flex-start;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background: var(--bg-color);
  border: 1px solid var(--text-color-main);
  border-radius: 5px;

  @media screen and (max-width: 419px) {
    width: 110px;
    height: 44px;
    bottom: 0;
  }
  @media screen and (min-width: $mob) {
    width: 110px;
    height: 44px;
    bottom: 0;
  }

  @media screen and (min-width: $tab) {
    width: 125px;
    height: 44px;
  }
  @media screen and (min-width: $desc) {
    width: 136px;
    height: 44px;
    margin-right: 15px;
  }
  &:hover,
  &:focus {
    background: #ff6b01;
    color: var(--text-color-header);
    border: 0;
  }
}

.btn-modal-film {
  top: 0;
  right: 0;
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 4;
  &:hover,
  &:focus {
    background: #ff6b01;
  }
}
.btn-modal-film-icon {
  fill: currentColor;
  &:hover,
  &:focus {
    color: red;
  }
  
}
