@import "./variables";

.header-library__button{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;                      
    transform: translate(-50%, 0);
    z-index: 1; 
    margin-top: 114px;

    @media screen and (max-width: $mob) {
        margin-top: 124px;
    }
}


.btn-library{
    width: 148px;
    height: 42px;
    border: 1px solid var(--text-color-header);
    color: var(--text-color-header);
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.33;

    @media screen and (max-width: $mob) {
        width: 129px;
        height: 44px
    }
}

.header-library__btnWatc{
    margin-right: 16px;

    @media screen and (max-width: $mob) {
        margin-right: 20px;
    }
}

.header-library__btnQue{
    background-color:  var(--brand-color);
    border:none ;
}

.header-library__navigation{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 71px;
    margin-top: 49px;
    z-index: 1;

    @media screen and (max-width: $tab) {
        margin-right: 32px;
    }

    @media screen and (max-width: $mob) {
        margin-right: 20px;
        margin-top: 44px;
    }
}

.navigation-btn{
    text-decoration: none;
    color: var(--text-color-header);
    cursor: pointer; 
    font-family: roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
}

.header-library__homePage{
    margin-right: 39px;
}

.header-library__libraryPage{
    text-decoration: none;
}

.header-library__libraryPage::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--brand-color);
    margin-left: auto;
}

.header-library__logo{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 45px;
    margin-left: 71px;

    @media screen and (max-width: $tab) {
        margin-left: 32px;
    }
}

.header__logo-list.library{
    padding: 0;
}

.header-lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-librarу/header-library-1-mob-min.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 230px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: $mob),
    (min-resolution: 192dpi) and (min-width: $mob),
    (min-resolution: 2dppx) and (min-width: $mob) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-librarу/header-library-2-mob-min.jpg);
    }
  }


@media screen and (min-width: $tab) {
  .header-lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-librarу/header-library-1-tab-min.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: $tab),
    (min-resolution: 192dpi) and (min-width: $tab),
    (min-resolution: 2dppx) and (min-width: $tab) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-librarу/header-library-2-tab-min.jpg);
    }
}
}

@media screen and (min-width: $desc) {
    .header-lib {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-librarу/header-library-1-min.jpg);
      background-position: top;
    }

    @media (min-device-pixel-ratio: 2) and (min-width: $desc),
      (min-resolution: 192dpi) and (min-width: $desc),
      (min-resolution: 2dppx) and (min-width: $desc) {
      .header {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/header-librarу/header-library-2-min.jpg);
      }
    }
  }

  .library-container{
      position: relative;
      margin-left: auto;
      margin-right: auto;  
      max-width: 1024px;
      height: 216px;

      @media screen and (max-width: $tab) {
        max-width: 768px;
        height: 219px;
      }
      
      @media screen and (max-width: $mob) {
        min-width: 320px;
        height: 230px;
      }
          
      }