@import './variables';

.pagination {
    display: flex;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 500;
    font-size: 12px;
}

.pagination span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 15%;
    cursor: pointer;
    fill: #000000;
} 

.pagination span.active {
    background-color:var(--text-color-caption);
    color: var(--text-color-header);
}

.pagination__prev {
    background-color: var(--bg-color-footer);
}

.pagination__next {
    background-color: var(--bg-color-footer);
}



