// .page-nav {
//     display: flex;
//     justify-content: center;
//     padding: 30px;
// }

// .page-nav__list button {
// margin-right: 15px;
// width: 30px;
// height: 30px;
// }

// .page-nav__list{
//     display: flex;
// }

// .page-nav__btn {
//     width: 40px;
//     height: 30px;
//     margin-right: 15px;
// }

// .page-nav__btn-pag {
//     width: 30px;
//     height: 30px;
//     margin-right: 15px;
// }

.pagination ul {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pagination ul li.numb {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.pagination ul li {
    text-align: center;
    line-height: 40px;
    cursor: default;

    font-weight: 500;
    font-size: 12px;
    // line-height: 16px;
    color: #000000;
}

.pagination__list .btn {
   background: #F7F7F7;
   width: 40px;
   height: 40px;
    border-radius: 5px;
}

.pagination__list .active,
.pagination__list .numb:hover,
.pagination__list .btn:hover {
    background-color: #FF6B08;
    color: #ffffff
    ;

}