@import "./variables";

.login-modal { 
    z-index: 2;
    display: none;
    position: absolute;
    top: 50px;
    left:50%;
    transform:translate(-50%, 0);
    text-align: center;
    overflow:hidden;
    height: 660px;
    width: 405px;
    padding: 60px 20px;
    background:var(--brand-color);
    box-shadow: 0px 30px 60px -5px #000;

    @media screen and (max-width: $tab) {
      padding: 10px;
      top :0;
  }

    @media screen and (max-width: $mob) {
        width: 320px;
        box-shadow: none;
        padding: 10px;
    }
    }
  
  .login-modal_form {
    margin-top: 50px;
  }
  .login-modal__up {
    color: var(--text-color-main);
    cursor: pointer;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    margin-left: 20px;
  }

  .login-modal__in {
    color: var(--text-color-main);
    margin-left: 20px;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    cursor: pointer;
  }

  .login-modal__active {
  border-bottom: 2px solid #1161ed;
  }

  .login-modal__noactive {
    color: rgba(255, 255, 255, 0.8);
    }


  .login-modal__nonactive:first-child {
    padding-left: 0px;
  }
  
  .login-modal__custom-checkbox {
    border: 1px solid var(--brand-color);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
  }
  
  .login-modal__custom-checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
    border: none;
  }

  .login-modal__custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
    border: none;
  }
  
  .login-modal__custom-checkbox:focus {
    outline: none;
    border: none;
  }
  
  .login-modal__keep {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
  }
  
.signin {
    margin: 0 auto;
    background: transparent;
    color: var(--text-color-alert);
     border: 2px solid var(--text-color-alert);
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
	  transition: all 0.4s;
  }
  
  .signin:hover, signin:focus {
    background-color: var(--text-color-main);
    color: var(--text-color-alert);
    cursor: pointer;
  }
  
  .signin:focus {
    outline: none;
  }
  
  hr {
    border: 1px solid var(--text-color-alert);
    top: 85px;
    position: relative;
  }
  
  .login-modal__forgot--password {
    text-align: center;
    display: block;
    top: 70px;
    position: relative;
    text-decoration: none;
    color: var(--brand-color);
  }



////////////////////////модалка регистраций//////////////////////////////

.registration-modal{

    position: absolute;
    top: 118px;
    left: 0px;
    height: 550px;
    width: 405px;
    margin: auto;
    padding: 20px 20px;
    background-color: var( --brand-color);
    transform: translateX(100%);
    transition: transform 750ms cubic-bezier(.99,.98,0,-0.01);

    @media screen and (max-width: $tab) {
      padding: 10px;
      top: 78px;
  }

    @media screen and (max-width: $mob) {
      width: 320px;
      box-shadow: none;
      padding: 10px;
  }
}

.registration-form {
  height: 500px;
  background-color:var(--text-color-header);
  text-align: center;
  border: 1px solid #4A4A4A;
  padding: 10px;
}

.registration-label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

/* animation for the text to float up */

 .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}

/* remove the input box styling */
.registration-label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: var(--text-color-alert);
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

/* once you click in the input the input width box animates */

.registration-label input:focus {
  max-width: 100%;
  width: 400px;
}

/* the text floats up and turns white */

.registration-label input:focus + .label-text {
  color: var(--text-color-alert);
  font-size: 13px;
  margin-top: 10px;
  transform: translateY(-74px);
}

/* the text floats up during form validation */

.registration-label input:valid + .label-text {
  font-size: 13px;
  transform: translateY(-74px);
}

/* button styling */

.registration-btn {
  background: transparent;
  color: var(--text-color-alert);
  border: 2px solid var(--text-color-alert);
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
	transition: all 0.4s;

  @media screen and (max-width: $mob) {
   margin:15px 0px; ;
  }
}

.registration-btn:hover, registration-btn:focus {
  background-color: var(--text-color-main);
  color: var(--text-color-alert);
}

.modal-close{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: var(--brand-color);
  border: 1px solid var(--text-color-main);
  border-radius: 50%;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 13px;
  height: 2px;
  background: var(--text-color-main);
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}


//////////////////////social media//////////////////////////////

.social__network {
      display: flex;
      justify-content: center;
      @media screen and(max-width:1064px) {
      justify-content: center;}
    }

.social__block {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
      fill: #afb1b8;
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

      &:hover,
      &:focus {
    background-color: var(--brand-color);
    fill: var(--text-color-header);
    outline: none;
  }
}


.social__svg {
  width: 20px;
  height: 20px;
  --brand-color: currentColor;
    }