:root {
  --text-color-1: #000000;
  --text-color-2: #545454;
  --text-color-3: #ff001b;
  --brand-color-1: #ffffff;
  --brand-color-2: #ff6b08;
  --bg-color: #ffffff;
}
// Точки перелома
$mob: 480px;
$tab: 768px;
$desc: 1200px;
