
  @mixin transition($dur) {
    transition: $dur;
  }
  @mixin transitionDelay($dur) {
    transition-delay: $dur;
  }
  @mixin translateXY($x: 0, $y: 0) {
    transform: translateX($x) translateY($y);
  }
  @mixin translateXYandScale($x: 0, $y: 0, $scale: 0) {
    transform: translateX($x) translateY($y) scale($scale);
  }
  @mixin rotate($deg) {
    transform: rotate($deg);
  }
  @mixin scale($val) {
    transform: scale($val);
  }
  body{
    // overflow: hidden;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  .half {
    position: absolute;
    overflow: hidden;
    z-index: 50;
    left: 0;
    width: 100%;
    height: 50%;
    @include transition(3s);
    will-change: transform;
    
    img {
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
    }
    
    &.top {
      top: 0;
    }
    
    &.bottom {
      top: 50%;
  
      img {
        top: -110%;
      }
    }
    
    &.active.top {
      @include translateXY(0, -100%);
    }
    
    &.active.bottom {
      @include translateXY(0, 100%);
    }
  }
  .super-button {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 200;
    width: 200px;
    height: 80px;
    opacity: 0.8;
    @include translateXY(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: #8f8f8f;
    background-color: transparent;
    border: 4px solid rgba(143,143,143, 0.5);
    @include transition(1.5s);
    will-change: color, opacity, border-color;
    
    &:hover {
      color: #fff;
      opacity: 1;
      border-color: #fff;
    }
    
    &:hover ~ .overlay {
      background-color: rgba(155, 0, 0, .5);
    }
    &:hover ~ .overlay.active {
      background-color: transparent;
    }
    
    &:hover ~ .button-line .inner {
      max-width: 100%;
    }
    
    &.active {
      @include transition(4.5s);
      @include translateXY(-50%, -1000px);
    }
    
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(155, 0, 0, 0);
    @include transition(1.5s);
    will-change: background-color;
    
    &.active {
      background-color: transparent;
    }
  }
  .button-line {
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: -moz-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    z-index: 200;
    width: -webkit-calc(50% - 100px);
    width: -moz-calc(50% - 100px);
    width: calc(50% - 100px);
    height: 4px;
    background-color: rgba(143,143,143, 0.5);
    @include transition(.5s);
    will-change: width, max-width;
    
    &.left {
      @include rotate(180deg);
    }
    
    &.right {
      left: -webkit-calc(50% + 100px);
      left: -moz-calc(50% + 100px);
      left: calc(50% + 100px); 
    }
    
    .inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      max-width: 0;
      @include transition(1.5s);
    }
    
    &.active {
      opacity: 0;
    }
  }