{{#each this}}
  <div class='movie-card'>
    <img
      src='https://image.tmdb.org/t/p/w500${movieInfo.poster_path}'
      alt={{name}}
    />
    <h5 class='movie-name'>{{title}}</h5>
    <p class='movie-gendres'>{{genres}}</p>
    <p class='movie-release-year'>{{release_date}}</p>
  </div>
{{/each}}