<header class="header container">
  <div class="header__container">
    <div class="header__wrapper">
      <a class="header__logo-list" href="./index.html">
        <svg class="header__logo-icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-film-logo"></use>
        </svg>
        <span class="header__logotext-link">Filmoteka</span>
      </a>
        <nav class="header__navigation">
          <ul class="header__navigation-list">
      <li class="header__navigation-item sign-in">
            <button id="signin" class="header__navigation-link" href=" /">
              Sign in 
            </button>
            <!-- <button id="signout" class="header__navigation-butto signOut">
              Sign out 
            </button> -->
            <div id="googleUser"></div>
          </li>
            </ul>
        </nav>
      </div> 

<!-- <div class="header__theme"> -->
<div class="theme">
          <span class="theme-text">Theme</span>
            <label class="switch">
                <input type="checkbox" id="dark-theme">
                <span class="slider round"></span>
            </label>
    </div>
<!-- </div> -->


      <form class="header__input-wrapper search-form" id="search-form">
        <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
      <button class="header__button-search">
        <svg class="header__input-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="theme">
      <span class="theme-text">Theme</span>
      <label class="switch">
        <input type="checkbox" id="dark-theme" />
        <span class="slider round"></span>
      </label>
    </div>
    
  </div>
  
</header>
