<header class="header darkmode-ignore">
  <div class="header-library library-container">
    <div class="header__wrapper">
      <div class="header-library__logo">
      <a class="header__logo-list" href="./index.html">
        <svg class="header__logo-icon" height="24" width="24">
          <use href="./images/svg/sprite.svg#icon-film-logo"></use>
        </svg>
        <span class="header__logotext-link">Filmoteka</span>
      </a>
    </div>
        <nav class="header__navigation">
          <ul class="header-library__navigation">
            <li class="header__navigation-item sign-in">
              <button id="signin" class="header__navigation-link" data-lng="headerSignIn" href=" /">
                Sign in
              </button>
              <button id="signout" class="header__navigation-link auth-hide" data-lng="signOutBtn" href=" /">
                Sign out
              </button>
              <div id="googleUser" class="header__user-name auth-hide"></div>
          </li>
          <li class="header__navigation-item"><a class="header__navigation-link current" data-lng="btnHome" href="./index.html">Home</a></li>
          <li class="header__navigation-item"><a class="header__navigation-link unactive" data-lng="btnLibrary" href="./library.html" id="myLibraryBtn">my library</a></li>
            </ul>
        </nav>
      </div>
<select class="header__select" id="lang">
  <option class="header__select--option" value="en" selected>EN</option>
  <option class="header__select--option" value="ru">RU</option>
  <option class="header__select--option" value="uk">UA</option>
 </select>
      <form class="header__input-wrapper search-form" id="search-form">
        <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search films"
      />
      <button class="header__button-search">
        <svg class="header__input-icon" width="12" height="12">
          <use href="./images/svg/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
</header>
