 <div class="modal-footer">
   <button class="modal-footer__open-btn">GoIT Students</button>
 </div>
 <div class="modal-footer-bg">
   <div class="modal-footer-social visually-hidden">
     <div class="modal-footer-social__gallary">
       <ul class="modal-footer-social__item">
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer-social__link">
           <img src="./images/P80708-201649.jpg" alt="">
           <div class="modal-footer-social__info">
             <p class="modal-footer-social__info">Holder Kateryna</p>
           </div>
         </li>
       </ul>
       <div class="modal-footer-social__close">
         <button class="modal-footer-social__close-btn js-modal-close">
           <span>&times;</span>
         </button>
       </div>
     </div>
   </div>
 </div>