<div class="backdrop visually-hidden">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Anastacia Andreeva.jpg" alt="Anastacia Andreeva" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Anastacia Andreeva</p>
          <!-- <a href="https://github.com/NastyaAndreeva" class="modal-info__link">GitHub</a> -->
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Raylyan Vadym.jpg" alt="Vadym Raylyan" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Vadym Raylyan</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Kateryna Holder.jpg" alt="Kateryna Holder" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Kateryna Holder</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Andrii Korchevnyi.jpg" alt="Andrii Korchevnyi" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Andrii Korchevnyi</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Liubov Zadoiko.jpg" alt="Liubov Zadoiko" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Liubov Zadoiko</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Maxim Arbakov.jpg" alt="Maxim Arbakov" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Maxim Arbakov</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Zubin Vladislav.jpg" alt="Zubin Vladislav" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Vladislav Zubin</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Jenya Zaleskiy.jpg" alt="Jenya Zaleskiy" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Jenya Zaleskiy</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Danylo Hulenk.jpg" alt="Danylo Hulenk" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Jenya Zaleskiy</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Jenya Zaleskiy.jpg" alt="Jenya Zaleskiy" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Jenya Zaleskiy</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-social">
          <ul class="swiper-list swiper-social__network">
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://github.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-github"></use>
                      </svg>
                  </a>
              </li>
              <li class="swiper-social__block">
                  <a class="swiper-social__link" href="https://linkedin.com/" rel="noopener noreferrer" target="_blank">
                      <svg class="swiper-social__svg" width="20" height="20">
                      <use href="./images/footer-social.svg#icon-linkedin">
                      </use>
                      </svg>
                  </a>
              </li>
          </ul>
        </div>
        <img src="./images/modal-footer/Jenya Zaleskiy.jpg" alt="Jenya Zaleskiy" class="swiper-slide__hover">
        <div class="modal-info">
          <p class="modal-info__name">Jenya Zaleskiy</p>
        </div>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="modal-footer__close">
    <button class="modal-footer__close-modal">Close</button>
  </div>
</div>
