 <!-- <div class="modal-footer">
   <button class="modal-footer__open-modal">GoIT Students</button>
 </div> -->
 <div class="backdrop wrapper">
   <div class="modal-footer swiper-container">
     <div class="modal-footer__gallary swiper-slide">
       <ul class="modal-footer__image">
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Andrii Korchevnyi.jpg" alt="Andrii Korchevnyi">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Andrii Korchevnyi</p>
             <a href="https://www.linkedin.com/in/andrii-korchevnyi/ ">Linkedin</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Andrii Korchevnyi.jpg" alt="Andrii Korchevnyi">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Andrii Korchevnyi</p>
             <a href="https://www.linkedin.com/in/andrii-korchevnyi/ ">Linkedin</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Raylyan Vadym.jpg" alt="Raylyan Vadym">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Raylyan Vadym</p>
             <a href="">Linkedin</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Liubov Zadoiko.jpg" alt="Liubov Zadoiko">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Liubov Zadoiko</p>
             <a href="#">Linkedin</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Zubin Vladislav.jpg" alt="Vladislav Zubin">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Vladislav Zubin</p>
             <a href="https://www.linkedin.com/in/wladyslaw-zubin-57638a221/">Linkedin!</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
             <a href="https://www.linkedin.com/in/kateryna-holder-673111228/">Linkedin</a>
             <a href="https://www.linkedin.com/in/kateryna-holder-673111228/">Linkedin</a>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
           </div>
         </li>
         <li class="modal-footer__link">
           <img src="./images/modal-footer/Kateryna Holder.jpg" alt="">
           <div class="modal-footer__info">
             <p class="modal-footer__name">Holder Kateryna</p>
           </div>
         </li>
       </ul>
       <div class="modal-footer__close">
         <button class="modal-footer__close-modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 </div>