<div class="film-card">
    <div class="film-img">

    </div>

    <div class="film-list">
        <p class="film-title">{{Title}}</p>

        <div class="film-info">
           
            <div class="film-text__left">
                <p class="film-text">Vote / Votes</p>
                <p class="film-text">Popularity</p>
                <p class="film-text">Original Title</p>
                <b class="film-text">Genre</b>
            </div>
            <div class="film-text__right">
                <p class="film-result">{{Vote / Votes}}</p>
                <p class="film-result">{{Popularity}}</p>
                <p class="film-result">{{Original Title}}</p>
                <p class="film-result">{{Genre}}</p>
            </div>
                        
        </div>

        <p class="film-info__item">
            <b class="film-result">About</b>
            <span class="film-about">{{About}}</span>
        </p>

        <div class="btn-add">
            <button class="button btn-activ" type="button">add to Watched</button>
            <button class="button" type="button">add to queue</button>
        </div>
    </div>

</div>