<header class="header-lib">
<div class="header-library library-container">
    <div class="header__wrapper">
        <div class="header-library__logo">
            <a class="header__logo-list library" href="./index.html">
                <svg class="header__logo-icon" height="24" width="24">
                <use href="./images/sprite.svg#icon-film-logo"></use>
                </svg>
                <span class="header__logotext-link">Filmoteka</span>
            </a>
        </div>
      <nav class="header__navigation">
        <ul class="header-library__navigation">
            <li>
                <a class="header-library__homePage navigation-btn" href="./index.html">HOME</a>
            </li>
            <li>
                <a class="header-library__libraryPage navigation-btn" href="./library.html">MY LIBRARY</a>
            </li>
            </ul>
      </nav>
      <div class="theme">
          <span class="theme-text">Theme</span>
            <label class="switch">
                <input type="checkbox" id="dark-theme">
                <span class="slider round"></span>
            </label>
    </div>
        <ul class="header-library__button">
            <li>
                <button class="header-library__btnWatc btn-library" id="btn-watched"><span>WATCHED</span></button>
            </li>
            <li>
                <button class="header-library__btnQue btn-library" id="btn-queue"><span>QUEUE</span></button>
            </li>
        </ul>
</div> 
</header>
