<div class="header-library">
        <img class="header-library__img" src="./images/RectangleHall.jpg" alt="Hall">
    <div class="header-library__logo">
    </div>
    <div class="header-library__navigation">
        <a class="header-library__homePage" href="">HOME</a>
        <a class="header-library__libraryPage" href="">MY LIBRARY</a>
    </div>
    <div class="header-library__button">
        <button class="header-library__btnWatc"><span>WATCHED</span></button>
        <button class="header-library__btnQue"><span>QUEUE</span></button>
    </div>
</div>