

<div class="login-modal">
        <h2 class="login-modal__in login-modal__active"> sign in </h2>
            <h2 class="login-modal__up login-modal__noactive"> sign up </h2>
    <form class="login-modal_form">
            <p class="login-modal__name">username</p>
        <input type="text" class="login-modal__text" name="username">
            <p  class="login-modal__name login-modal__password">password</p>
        <input type="password" class="login-modal__text" tex name="password">
                
                <br>
        <input type="checkbox" id="checkbox-1-1" class="login-modal__custom-checkbox" />
            <label class="login-modal__keep" for="checkbox-1-1">Keep me Signed in</label>
                <button class="signin">Sign In</button>
            <hr>
            <a class="login-modal__forgot--password" href="#">Forgot Password?</a>
    </form>

    
    <div class="modal">
        <form class="login-modal_form">
                <p class="login-modal__name">username</p>
            <input type="text" class="login-modal__text" name="username">
                <p  class="login-modal__name login-modal__password">password</p>
            <input type="password" class="login-modal__text" tex name="password">
                    
                    <br>
            <input type="checkbox" id="checkbox-1-2" class="login-modal__custom-checkbox" />
                <label class="login-modal__keep" for="checkbox-1-2">Keep me Signed in</label>
                    <button class="signin">Sign In</button>
                <hr>
                <a class="login-modal__forgot--password" href="#">Forgot Password?</a>
        </form>
        </div>

</div>

