@import '../utils/variables';
@import url('../../node_modules/swiper/swiper-bundle.css');


.backdrop-footer{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  // transform: translate(-50%, 0);
  transform: translate(-50%, 0) scale(1);
  background-color: rgba(11, 10, 10, 0.203);
  justify-content: center;
  align-items: center;
  // opacity: 1;
  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // transition: opacity 400ms,
  //       visibility 400ms;
}

.modal-container {
  position: relative;
  width: 400px;

  @media screen and (min-width: $tab) {
  width: 768px;
}
  @media screen and (min-width: $desc) {
  width: 1024px;
}
}

// body.show-modal .backdrop {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: initial;
//   // transform: scale(0.5);
//   transition: opacity 400ms,
//   visibility 400ms;
//   transform: translateX(100%) scale(0.5);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.swiper {
  border: 1px solid #fff;
  border-radius: 5px;

@media screen and (min-width: 320px) {
  width: 320px;
}

@media screen and (min-width: $tab) {
  width: 50%;
}
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
  background-image: url(../images/film-min.jpg);
  background-size: contain;
}

.swiper-slide img {
  display: block;
  width: 270px;
  height: 350px;
  object-fit: cover;

  @media screen and (min-width: 320px) {
  width: 220px;
  height: 350px;
}

  @media screen and (min-width: $tab) {
  width: 250px;
  height: 355px;
}
  @media screen and (min-width: $desc) {
  width: 320px;
  height: 355px;
}
}

img:hover {
  background: rgba(11, 10, 10, 0.203);
}

.modal-info{
  width: 420px;
  height: 30px;
  position: absolute;
  top: 325px;
  text-align: center;
  background-color: var(--brand-color);
  border-radius: 50px;

  @media screen and (min-width: $desc) {
    bottom: 250px;
  }
}

.modal-info__name {
  margin-top: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
} 

.swiper-wrapper {
  background-color: transparent;
}

.modal-footer__close {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-footer__close-icon:target {
  opacity: 1;
	pointer-events: auto;
}


.modal-footer__close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  border-radius: 50%;
  padding: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--brand-color);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color:rgb(27, 25, 25);
}



//////////////////////social media//////////////////////////////

.swiper-social{
  position: absolute;
  right: 50px;
}

.swiper-social__network {
  display: flex;
  right: 195px;
  top: 100px;
  z-index: 5;
  position: absolute;

  @media screen and (min-width: 320px) {
  right: 130px;
}
  
  @media screen and(min-width: $tab) {
  right: 175px;
}

 @media screen and(min-width: $desc) {
  right: 275px;
}
}

.swiper-social__block {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.swiper-social__link {
display: flex;
align-items: center;
justify-content: center;
height: 44px;
width: 44px;
background-color: var(--brand-color);
border-radius: 50%;
fill: var(--text-color-header);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
background-color: var(--text-color-header);
fill: var(--brand-color);
outline: none;
z-index: 5;
}
}

.swiper-social__svg {
width: 20px;
height: 20px;
--brand-color: currentColor;
}

